@import url(./base.css);

.speakers .main-heading {
  font-size: 98px;
}

.body-secondary {
  background-color: var(--color-secondary);
  color: var(--color-text-on-secondary);
}

.shopping-cart-secondary g path {
  fill: var(--color-primary);
}

.speaker-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
